.name-bar {
  display: flex;
  height: auto;
  background-color: #101113;
  align-items: center;
}

.name-bar img {
  width: 30px;
  height: 30px;
}

.name-bar__userandrepo {
  display: flex;
  color: white;
}

.name-bar__userandrepo input {
  background-color: transparent;
  color: white;
  border-width: 0;
  font-size: 3vw;
  padding: 1vh;
  margin: 0;
  width: max-content;
  outline: none;
}

.name-bar__userandrepo__search {
  background-color: #1c1e22;
  margin-left: auto;
  display: flex;
  width: 68px;
  height: 68px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  background-color: #101113;
  height: auto;
  min-height: 74vh;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.content__commit {
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  margin-top: "2vh";
  margin-bottom: "2vh";
}

.content__commitcontainer {
  border: 1px solid #8b949e;
  border-radius: 16px;
  overflow: hidden;
  width: 80%;
  height: max-content;
}
